% Default to the notebook output style
((* if not cell_style is defined *))
    ((* set cell_style = 'style_jupyter.tex.j2' *))
((* endif *))

% Inherit from the specified cell style.
((* extends cell_style *))

((* block docclass *))
\documentclass[10pt,fontset=none]{ctexart}
((* endblock docclass *))

((* block packages *))
% Call the super block to include existing packages
((( super() )))

% Add your custom LaTeX packages and settings here
\setmainfont{Noto Serif}
\setsansfont{Noto Sans}
\setmonofont{Noto Sans Mono}
\setCJKmainfont{Noto Serif CJK SC}
\setCJKsansfont{Noto Sans CJK SC}
\setCJKmonofont{Noto Sans Mono CJK SC}
% Use smaller font for code
\DefineVerbatimEnvironment{Verbatim}{Verbatim}{fontsize=\small}
((* endblock packages *))

% You can override other blocks as needed
