SHELL=/bin/bash
PATH=/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# *  *  *  *  * user-name command to be executed
31 */2 * * *	root      cd /data && /usr/local/bin/xdufacool homeworks.ini > /proc/1/fd/1
